# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Logs
logs
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov

# Build outputs
dist/
build/
out/
.next

# Environment variables
.env
.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Temporary files
temp/
tmp/
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
